<div class="container">
<form action="/username" method="POST">
  <fieldset>
    <legend>Type in a Twitter username</legend>
    <input type="text" name="username">
    <input class="submit" type="submit" value="submit">
  </fieldset>
</form>
</div>
