<div class="container">
  <form action = '/' method="post">
    <input type="text" name="username" placeholder="twitter handle">
    <input type="submit" value="Get recent tweets">
  </form>

  <% if @error %>
    <h1><%= @error %></h1>
  <% end %>

  <% if @tweets %>
    <% @tweets.each do |tweet| %>
      <h1><%= tweet.text %></h1>
      <h3><%= tweet.tweet_date %></h3>
    <% end %>
  <% end %>
</div>
