<div class="container">
  <h2>Latest 10 Tweets for @<%= @username %></h2>
  <ol>
    <% $client.user_timeline(@user.id, {count: 10}).each do |tweet| %>
      <div class="tweets">
        <li><%= tweet.text %></li>
      </div>
    <% end %>
  </ol>
  <p><a href="/">Go back and search again</a></p>
</div>