body {
  background-color: rgba(64, 153, 255, 0.4);
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid silver;
  background-color: rgba(84, 84, 80, 0.6);
  border-radius: 25px;
  color: rgba(242, 242, 242, 1.0);
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  ;
}

th {
  text-align: left;
}

input {
  box-shadow: inset 0 0 8px rgba(84, 84, 80, 0.3);
  border-radius: 25px;
}

fieldset {
  border-color: rgba(64, 153, 255, 1.0);
  border-radius: 25px;
  color: rgba(64, 153, 255, 1.0);
}

input.submit:hover {
  background-color: rgba(84, 84, 80, 0.3);
}

input.submit {
  color: white;
  background-color: rgba(64, 153, 255, 1.0);
}

li {
  margin: 10px 0px;
}

a:hover {
  background-color: rgba(222, 222, 222, 0.3);
  color: rgba(242, 242, 242, 1.0);
}

a:visited {
  color: rgba(64, 153, 255, 1.0);
}

#twitter-logo {
  height: 50px;
  display: inline-block;
}

#profile-image {
  top: 7px;
  left: 8px;
  height: 60px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
}

#tweets-title {
  display: inline-block;
  text-decoration: underline;
  margin: auto;
  padding: auto;
}

.user-input {
  background-color: rgba(64, 153, 255, 0.5);
}